/* client/style.css */

	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0;
		height: 100vh;
		background: linear-gradient(
			0deg,
			rgb(61, 117, 70) 0%,
			rgb(120, 206, 135) 100%
		);
		font-family: Courier;
	}
	#login-screen {

	}
	#scores {
		width: 600px;
		height: 500px;
		position: absolute;
		opacity: 0.7;
		background-color: lightskyblue;
		text-align: center;
	}
	#scores h3 {
		color: darkmagenta;
	}#scores h3.Bwon {
		color: darkorange;
	}
	#scores button {
		opacity: 1;
	}
	#game {
		cursor: crosshair;
		display: grid;
		background-color: darkgreen;
		width: 800px;
		height: 500px;
		/* cursor: none; */
	}
	
	#map {
      width: 800px;
      height: 400px;
      background-color: lightgrey;
		position: relative;
		top: 100px;
		left: 0;
		grid-column: 1;
		grid-row: 1;
    }
	#playerContainer {
		width: 800px;
		height: 400px;
		position: relative;
		top: 100px;
		left: 0;
		grid-column: 1;
		grid-row: 1;
		overflow: hidden;
	}
	#shadowCanvas, #shootCanvas, #playerCanvas {
		width: 800px;
		height: 400px;
		position: relative;
		top: 100px;
		left: 0;
		grid-column: 1;
		grid-row: 1;
	}
	#gameCanvas {
		width: 800px;
		height: 400px;
		position: relative;
		top: 100px;
		left: 0;
		grid-column: 1;
		grid-row: 1;
	}
	#impactContainer {
		width: 800px;
		height: 400px;
		position: relative;
		top: 100px;
		left: 0;
		grid-column: 1;
		grid-row: 1;
	}
	

.player2 {
	position: absolute;
	width: 20px;
	height: 20px;
}
.player2 .player-name {
	position: absolute;
    top: -10px; 
    width: 80px;
	left: -30px;
    text-align: center; /* Centrez le texte horizontalement */
	font-family: Courier; 
	font-size: 10px;
	color: darkmagenta;
}
.player2.teamB .player-name {color: darkorange; }
.player2 .player-sprite { 
	width: 20px;
	height: 20px; 
	background-image: url("./img/cop2.png"); 
	background-size: 20px 20px; 
}
.player2.teamB .player-sprite { background-image: url("./img/cop3.png"); }
.player2.dead .player-sprite { background-image: url("./img/cop2-dead.png"); }
.player2.teamB.dead .player-sprite { background-image: url("./img/cop3-dead.png"); }
.player2.shooting .player-sprite{
	background-image: url("./img/cop2-fire.png");	
}
.player2.teamB.shooting .player-sprite{
	background-image: url("./img/cop3-fire.png");	
}
.player2.hurt .player-sprite{
	background-image: url("./img/cop2-hurt.png");	
}
.player2.teamB.hurt .player-sprite{
	background-image: url("./img/cop3-hurt.png");	
}


.impact {
	position: absolute;
	background-image: url("./img/impact.png");
	width: 12px;
	height: 12px;
	background-size: 12px 12px;
	/* background-color: white; */
}

.labels {
	font-size: 16px;
	color: lightgray;
	font-family: Courier;
	text-align: center;
	width: 100px;
	height: 20px;
	top:60px;
	position:relative;
	grid-column: 1;
	grid-row: 1;
}

#ammo-label {

}

#life-label {
	left: 700px;
}

#lifepoints {
	position: relative;
	font-size: 40px;
	top:80px;
	left: 700px;
	grid-column: 1;
	grid-row: 1;
}

#ammo {
	position: relative;
	font-size: 40px;
	top:80px;
	left: 0;
	grid-column: 1;
	grid-row: 1;
}

progress[value]  {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 100px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]#lifepoints::-webkit-progress-value {
  background-color: green;

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress[value = "2"]#lifepoints::-webkit-progress-value  , progress[value = "1"]#lifepoints::-webkit-progress-value  {
  background-color: red;

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress[value]#ammo::-webkit-progress-value {
  background-color: darkblue;

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#reload {
	position:absolute; 
	left:50%; 
	top:50%; 
	transform: translate(-50%, -50%);
	font-family: Courier;
	color: white;
	background-color: red;
	font-weight: bold;
}
.blink {
    -webkit-animation: blink 1s infinite both;
            animation: blink 1s infinite both;
}

@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

#team-info {
	margin-top:20px;
	background-color: lightgrey;
}

#team-info-listA {
	color: darkmagenta;
}
#team-info-listB {
	color: darkorange;
}
#start-game-btn {
	left: 50%;
	position: relative;
	transform: translate(-50%, 0);
}